<% if current_user %>
  <div class="pull-right">
    <%= link_to("Add a job",new_job_path, :class => "btn btn-default") %>
  </div>
<% end %>

<%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search jobs" %>
<%= submit_tag "Search" %>
<% end %>



<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><%= link_to("按照薪资下限排序",jobs_path(:order => "by_lower_bound")) %></li>
    <li><%= link_to("按照薪资上限排序",jobs_path(order: "by_upper_bound")) %></li>
    <li><%= link_to("按照发表时间排序",jobs_path) %></li>

  </ul>
</div>
  <% if @jobs.present? %>
<table class="table table-hover">
  <thead>
    <tr>
      <td>职位名</td>
      <td>公司名</td>
      <td>工作地点</td>
      <td>薪资</td>
      <td>发布时间</td>
    </tr>
  </thead>
  <tbody>

  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to(job.title,job_path(job)) %></td>


      <td><%= job.company_name %></td>
      <td>
        <%= job.work_address %>
      </td>
      <td>
        <span style= "color:red"><%= job.wage_lower_bound %>-<%= job.wage_upper_bound %>/月</span>
      </td>
      <td>
        <%= job.created_at.strftime("%m-%d") %>
        <%= link_to("查看详情", job_path(job), :style => "margin-left: 32px;margin-right:20px;font-size: 14px;") %>
        <span class="btn btn-success"><%= link_to("投简历", new_job_resume_path(job)) %></span>
      </td>

    </tr>
  <% end %>
  <% else %>
    <p>There no jobs containing "<%= params[:search] %>"</p>
  <% end %>
  <tbody>
</table>


  <div class = "container-fluid">
    <h4>热门招聘公司</h4>
    <div class="row">
      <div class="col-sm-2 ">
        <div class="thumbnail">
          <img src="http://img02.51jobcdn.com/im/images/2016/dl/luer0103_7070wh.gif" alt="search" class = "img-thhumbnail">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://img02.51jobcdn.com/im/images/2016/sh/bowei1109_7417wh.gif" alt="bid" class = "img-thhumbnail">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://img02.51jobcdn.com/im/images/2017/wh/jianglin0112_7126wh.gif" alt="heart" class = "img-thhumbnail">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="thumbnail">
          <img src="http://img02.51jobcdn.com/im/images/2016/km/guidao0812_7173wh.gif" alt="heart" class = "img-thhumbnail">
        </div>
      </div>

      <div class="col-sm-2 ">
        <div class="thumbnail">
          <img src="http://img02.51jobcdn.com/im/images/2016/dl/luer0103_7070wh.gif" alt="search" class = "img-thhumbnail">
        </div>
      </div>

    </div>

    </div>

  </div>
