
<h2>职位名称：<%= @job.title %></h2>
<p>职位描述<%= simple_format(@job.description)%></p>
<p><span style="color:red">薪资范围：</span><%= @job.wage_lower_bound %>-<%= @job.wage_upper_bound %></p>
<p><span style="font-weight:bold">发布时间：</span><%= @job.created_at.strftime("%Y-%m-%d") %></p>
<p><span style="font-weight:bold">更新时间：</span><%= @job.updated_at.strftime("%Y-%m-%d") %></p>
<p><span style="font-weight:bold">联系方式：</span><%= @job.contact_email %></p>
<p><span style="font-weight:bold">该职位已投简历人数：</span><%= @job.resumes.count %></p>
<div class="btn btn-default btn-lg btn-block">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
